<header>
  <nav class="teal lighten-3">
    <div class="nav-wrapper">
      <a href="/" class="page-title brand-logo"><i class="material-icons">cloud</i>tajj</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">My Profile</a></li>
        <li><a href="#"><i class="material-icons right">perm_identity</i></a></li>
      </ul>
    </div>
  </nav>
</header>

<div class="new-blog container">

  <form class="center-align" action="/blog" method="post" accept-charset="utf-8">

    <input type="text" id="textarea1" name="title" class="blog-title materialize-textarea left" placeholder="Title"></input>
    <textarea id="textarea2" name="content" class="content materialize-textarea" placeholder="Write something..."></textarea>
{{!--     <input type="text" id="textarea3" class="blog-tags materialize-textarea" placeholder="Tags"></input>
 --}}
    <br><br>

    <button class="btn waves-effect waves-light red lighten-2" type="submit" name="action">Publish
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>

<br><br>

<div class="blog-feed container">
{{!-- Render blog feed here --}}
  {{# each }}
    <div class="blog-post">
      <h4 class="post-title">{{ this.title }} <span class="by-line">by {{ this.userId }}</span></h4>
      <p class='entryID' style='visibility: hidden'>{{this._id}}</p>
      <div class="post-content">
        {{ this.content }}
      </div>
      <a class="read-more right" href="#">Read More</a>

    </div>
{{!--   <div class="blog-post">

    <h4 class="post-title">My First Post <span class="by-line">by not_vader</span></h4>
    <div class="post-content">
      <p>Not after we demonstrate the power of this station. In a way, you have determined the choice of the planet that'll be destroyed first. Since you are reluctant to provide us with the location of the Rebel base, I have chosen to test this station's destructive power... on your home planet of Alderaan. No! Alderaan is peaceful. We have no weapons. You can't possibly... You would prefer another target? A military target? Then name the system! I grow tired of asking this. So it'll be the last time. Where is the Rebel base? Dantooine. They're on Dantooine.</p>
      <p>Holding her is dangerous. If word of this gets out, it could generate sympathy for the Rebellion in the senate. I have traced the Rebel spies to her. Now she is my only link to find their secret base! She'll die before she tells you anything. Leave that to me. Send a distress signal and then inform the senate that all aboard were killed! Lord Vader, the battle station plans are not aboard this ship! And no transmissions were made. An escape pod was jettisoned during the fighting, but no life forms were aboard. She must have hidden the plans in the escape pod. Send a detachment down to retrieve them. See to it personally, Commander. There'll be no one to stop us this time. Yes, sir.</p>
    </div>
    <a class="read-more right" href="#">Read More</a>

    <ul class="post-tags">
      <li class="tag"><a class="tag" href="#">#alderaan</a></li>
      <li class="tag"><a class="tag" href="#">#starwars</a></li>
      <li class="tag"><a class="tag" href="#">#danger</a></li>
      <li class="tag"><a class="tag" href="#">#darthvader</a></li>
    </ul>

  </div> --}}


   {{/each}}
</div>
