<header>
  <nav class="teal lighten-3">
    <div class="nav-wrapper">
      <a href="/" class="page-title brand-logo"><i class="material-icons">cloud</i>tajj</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">My Profile</a></li>
        <li><a href="#"><i class="material-icons right">perm_identity</i></a></li>
      </ul>
    </div>
  </nav>
</header>

<div class="container">
  <div class="login card-panel hoverable">

    <h3 class="center-align">Sign in with GitHub</h3>

    <form action="/login" method="get" accept-charset="utf-8">
      <button class="btn waves-effect waves-light red lighten-2" type="submit" name="action">Let's Go!
        <i class="material-icons right">send</i>
      </button>
    </form>

  </div>
</div>

