<header>
  <nav class="teal lighten-3">
    <div class="nav-wrapper">
      <a href="/" class="page-title brand-logo"><i class="material-icons">cloud</i>tajj</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">My Profile</a></li>
        <li><a href="#"><i class="material-icons right">perm_identity</i></a></li>
      </ul>
    </div>
  </nav>
</header>


<h1>{{ title }}</h1>

<div>
 <p>{{ userId }}</p>
 <p>{{ content }}</p>
</div>
